*{
    padding: 0%;
    margin: 0;
    background-color: beige;
}

#h1{
    margin: 0%;
    font-size:larger;
    margin-top: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#img{
    margin: 0%;
    padding: 0%;
    position: fixed;
}

#btn{
    color:black;
    background-color: white;
    border-radius: 10px;
    border-color:darkblue;
    width: 10%;
    padding: 10px;
    margin: 10px;
    margin-top: 8%;
    margin-left: 10px;
    cursor: pointer;
    position: absolute;
}

.city{
    color: black;
    background-color: antiquewhite;
    border-radius: 10px;
    border: 20%;
    width:17%;
    border-color: darkblue;
    padding: 10px;
    margin: 100px 0px 0px 350px;
    position: relative;
}

.WeatherItem{
    padding: 1%;
    margin:10%;
    margin-top: 2%;
    width:50%;
    height:0%;
    background-color: black;
    color:black
}

.para{
    padding:1%;
    margin: 0%;
    word-wrap: break-word;
}