.storyImage{
    width: 200px;
}


/* 1. Descendant Selector(child) */
.container .storyHeading h1{
    color:rgb(6, 100, 55)
}

/* Combinators */
/* 1. > Immediate Child */
/* 2. + Immediate Sibling */
/* 3. ~ General Sibling */

ul>li{
    color:cadetblue
}


/* Immediate Sibling */
li+li{
    background-color:turquoise;
    font-size: 28px;
}

/* General Sibling */
li~li{
    background-color: blueviolet;
}
